<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="favicon.ico">
        <title>轻言小说::[[[bookTitle]]]</title>
        <link rel="stylesheet" href="./css/bootstrap/4.5.2/bootstrap.min.css">
        <script src="./js/jquery/3.5.1/jquery-3.5.1.min.js"></script>
        <script src="./js/vue/vue.js"></script>
        <script src="./js/vue/vue-resource.min.js"></script>
        <script src="./js/bootstrap/4.5.2/bootstrap.min.js"></script>
        <style>
            .jjimg {
                width: 100%;
                max-height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="jquery">
        </div>
        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        <div class="text-center">
                            <h1>[[[bookTitle]]]</h1>
                            <img class="jjimg mx-auto d-block" :src="base64Image" alt="jj-img" @error="imgError($event)" @load="imgLoad($event)" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>
            [[[chapterHtml]]]
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        <h3 class="text-center">[[[chapterTitle]]]</h3>
                        [[[chapterBody]]]
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        <div class="text-center">
                            <h3 class="text-center">【篇幅受限，无法展示更多，下方入口前往网站或下载APP，即可继续阅读】</h3>
                            <button type="button" class="btn btn-danger" @click="eventGoWap()">前往网站</button>
                            <button type="button" class="btn btn-danger" @click="eventDownload()">下载APP</button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        <div class="container mt-3">
                            <h2>精选留言</h2>
                            <div class="media border p-3" v-for="(message, index1) in messageList" :key="index1">
                                <img :src="message.img" :alt="message.name" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                <div class="media-body">
                                    <h4>{{ message.name }} <small><i>{{ message.hourAgo }}小时前</i></small></h4>
                                    <p>{{ message.msg }}</p>
                                    <div class="media p-3" v-for="(val, index2) in message.list" :key="index2">
                                        <img :src="val.img" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                                        <div class="media-body">
                                            <h4>{{ val.name }} <small><i>{{ val.hourAgo }}小时前</i></small></h4>
                                            <p>{{ val.msg }}</p>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
    $(function() {
        // $('#jquery').html(
            // '目前 jQuery 版本：' + $().jquery
        // );
    });
	
    var down_link_type = 1;
    var app_down_link = "";
    var cnzz_code = "";
    var len = 0;
    var is_for = 0;
    $(document).ready(function(e) { 
        var index = 0;
        var rows = [];
        var reurl = getUrlParam('reurl');
        var one = 0;
        if (!reurl || reurl == "") {
            alert("");
            return false;
        }
        $.ajax({
            url:"jsondata/"+ reurl +".json",
            method:"get",
            data:{},  //  ()
            dataType:"jsonp", // JSON.parse(),JSON
            jsonpCallback: "list",
            traditional:true, // (values=[11, 22, 33])
            success:function(data){ // arg
                rows = data.data.rows;
                
                $("#title").html(rows[index].title);
                $("body").find("#content").html(rows[index].content);
                $(".app_name").html(rows[index].app_name);

                down_link_type = rows[index].down_link_type;
                app_down_link = rows[index].app_down_link;
                cnzz_code = rows[index].cnzz_code;
                addJs(cnzz_code);

                len = rows.length;
                for(i=rows.length-1; i > -1; i--){
                  var stateObject = {id: i};
                  var title = "Wow Title "+i;
                  var newUrl = "#"+i;
                  window.history.pushState(stateObject,title,newUrl);
                }

                if (data.data.is_for == 1) {
                    is_for = 1;
                }
                
            }
        })
        
        window.addEventListener('popstate', function(event) {
            readState(event.state);
        });
        function readState(data){
            if (one === 1) {
                window.location.reload();
                return false;
            }

            $('#alert').addClass('hidden');
            $('html,body').animate({scrollTop:-30},0);
            var inx = data.id;
            //判断是否是跳转到其他广告
            if(rows[inx].page_type == 2){
                // console.log(rows[inx].embed_url);
                window.location.href = rows[inx].embed_url

                return;
            }
            $("#title").html(rows[inx].title);
            $("body").find("#content").html(rows[inx].content);
            $(".app_name").html(rows[inx].app_name);
            down_link_type = rows[inx].down_link_type;
            app_down_link = rows[inx].app_down_link;
            cnzz_code = rows[inx].cnzz_code;
            
            addJs(cnzz_code);

            if (is_for == 1 && inx+1 >= len) {
                one = 1;
                var ii = 0;
                if (inx+1 == len) {
                    ii = len;
                }else{
                    ii = len+1;
                }
                var stateObject = {id: ii};
                var title = "Wow Title "+ii;
                var newUrl = "#"+ii;
                window.history.pushState(stateObject,title,newUrl);
                window.history.forward(1);
            }
        }
    
        if (down_link_type == 2) {
            function uuid(len, radix) {
                var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
                var uuid = [], i;
                radix = radix || chars.length;
                if (len) {
                    for (i = 0; i < len; i++) uuid[i] = chars[0 | Math.random()*radix];
                } else {
                    var r;
                    uuid[8] = uuid[13] = uuid[18] = uuid[23] = '-';
                    uuid[14] = '4';
                    for (i = 0; i < 36; i++) {
                        if (!uuid[i]) {
                            r = 0 | Math.random()*16;
                            uuid[i] = chars[(i == 19) ? (r & 0x3) | 0x8 : r];
                        }
                    }
                }
                return uuid.join('');
            }
            
        }


        $(this).scroll(function () {
            var targetHeight = $('.gdok').offset().top;
            var scrollHeight = $(this).scrollTop();//
            if (targetHeight - scrollHeight <= 850) {
                $('#alert').removeClass('hidden');
            }
        });
        $("body").on('click','.goDownload', function() {
            busOnEvent()
        });
        $("#closeAlert").click(function () {
            $('#alert').addClass('hidden');
        });


    });

    function RandomNumBoth(Min,Max){
        var Range = Max - Min;
        var Rand = Math.random();
        var num = Min + Math.round(Rand * Range); //
        return num;
    }
    function busOnEvent() {
        if (down_link_type == 2) {
            var _len =  RandomNumBoth(2, 8);
            var _radix = RandomNumBoth(10, 62);
            var _time = new Date().getTime();
            var _str = uuid(_len, _radix) + _time;
            window.location.href = 'http://' + _str + app_down_link;
        }else{
            window.location.href = app_down_link;
        }
    }
    
    function btnimgclose() {
        $('.cp-close').hide();
        $('.commonPadding').hide();
        event.stopPropagation();
    }

    function addJs(url){
        $.getScript(url);  
    }

    //url
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //
        var r = window.location.search.substr(1).match(reg);  //
        if (r != null) return unescape(r[2]); return null; //
    }
    </script>
    <script>
    window.onload = function () {
        var app = new Vue ({
            el: '#app',
            data: {
                // 1.系統用
                apiDomain: 'http://graphiql.numyue.cn',
                apiRout: '/graphql',
                channelId: 0,
                bookId: 0,
                chapterID: 0,
                wapUrl: '',
                downloadUrl: '',
                // 2.圖片加密
                src: 'img/html/img01.html',// 來源圖
                //domain: 'http://img2.yurunpool.com/',
                //domain: 'http://dev.numyue.cn:930/',
                domain: '',
                native: new XMLHttpRequest(),
                retryed: 0,
                base64Image: '/src/assets/images/empty.jpg',// 作業圖
                // http://img2.yurunpool.com/mh/2397/20200812/713d49b9d6ff49d2b6589798fc9df527.html
                // http://img2.yurunpool.com/mh/3668/20200924/5ead28eee2514c989fc1339504bb1e8a.html
                // http://mbaiducom.oss-cn-shenzhen.aliyuncs.com/mh/3668/20200924/5ead28eee2514c989fc1339504bb1e8a.html
                // https://cps-hc-img.oss-cn-shenzhen.aliyuncs.com/bookimg/71007_7.jpg
                // 3.推薦
                messageList: [],
                hourAgo: 1,
                message: {
                    users: [
                        {
                            name: '奥布宝宝御用撸狗',
                            img: './img/users/01.jpg',
                        },
                        {
                            name: '人类行为图鉴',
                            img: './img/users/02.jpg',
                        },
                        {
                            name: '赵琦君Ryan',
                            img: './img/users/03.jpg',
                        },
                        {
                            name: '硬核人类',
                            img: './img/users/04.jpg',
                        },
                        {
                            name: '大厂靓妹',
                            img: './img/users/05.jpg',
                        },
                        {
                            name: '解说七老爷',
                            img: './img/users/06.jpg',
                        },
                        {
                            name: '在宇宙玩电脑',
                            img: './img/users/07.jpg',
                        },
                        {
                            name: '满满Cyim',
                            img: './img/users/08.jpg',
                        },
                        {
                            name: '认真少女_颜九',
                            img: './img/users/09.jpg',
                        },
                    ],
                    msg: [
                        '刚看完，真是超爽超刺激，好久没看过这种爽文了。',
                        '好精彩的小说，真是解锁了各种姿势，刺激，文字描述比小电影还精彩！',
                        '毫无冷场，绝对值得花钱看！',
                        '是好看，剧情优，非看不可的好书！',
                        '好看绝无冷场。',
                        '看过最精彩的，整部无冷场！',
                        '很幽默又很温馨的一部，值得一看！',
                        '超爱！超好看！又有趣又温馨，推！',
                        '超好看！整部无冷场！',
                    ]
                },
            },
            watch: {},
            beforeCreate () {},
            created () {
                console.log('created')
                var that = this
                that.getDomain()
                that.callApiDomain()
                that.callApiDownload()
            },
            mounted () {
                console.log('mounted')
                var that = this
                that.ready()
                // 錯誤圖
                setTimeout(() => {
                    that.imgLoader()
                }, 0)
            },
            beforeDestroy () {},
            destroyed () {},
            methods: {
                ready () {
                    console.log('ready')
                    this.getMessage()
                },
                // 獲取該頁面主網址路徑
                getDomain () {
                    console.log('getDomain')
                    var that = this
                    that.domain = location.href.replace('index.html', '')
                },
                // 獲取網站路徑
                callApiDomain () {
                    console.log('callApiDomain')
                    var that = this
                    var data = {
                        query: `{
                            domains(species: 1) {
                                id,
                                species,
                                ssl,
                                domain,
                                status,
                            }
                        }`
                    }
                    that.$http.post (that.apiDomain + that.apiRout, data, {emulateJSON:true})
                    .then(function (result) {
                        console.log('請求成功', result)
                        if (result.status === 200) {
                            const apiData = result.body.data.domains[0]
                            console.log('apiData', apiData)
                            if (apiData !== null) {
                                let http = 'http://'
                                if (apiData.ssl === 1) {
                                    http = 'https://'
                                }
                                if (that.bookId !== 0) {
                                    console.log('書籍wapUrl:', that.wapUrl)
                                    that.wapUrl = http + apiData.domain + '/books/' + that.bookId
                                } else if (that.chapterID !== 0) {
                                    console.log('章節wapUrl:', that.wapUrl)
                                    that.wapUrl = http + apiData.domain + '/books/chapter/' + that.chapterID
                                } else {
                                    console.log('首頁wapUrl:', that.wapUrl)
                                    that.wapUrl = http + apiData.domain
                                }
                            }
                        }
                    }, function (result) {
                        console.log('請求失敗處理', result)
                    })
                },
                // 獲取下載網址
                callApiDownload () {
                    console.log('callApiDownload')
                    var that = this
                    var data = {
                        query: `{
                            download(ChannelId: ${that.channelId}) {
                            id,
                            apk,
                            download,
                            }
                        }`
                    }
                    that.$http.post (that.apiDomain + that.apiRout, data, {emulateJSON:true})
                    .then(function (result) {
                        console.log('請求成功', result)
                        if (result.status === 200) {
                            const apiData = result.body.data.download
                            console.log('apiData', apiData)
                            if (apiData !== null) {
                                that.downloadUrl = apiData.download
                                console.log('downloadUrl:', that.downloadUrl)
                            }
                        }
                    }, function (result) {
                        console.log('請求失敗處理', result)
                    })
                },
                // 取得留言板資料
                getMessage () {
                    console.log('getMessage')
                    var that = this
                    // 推薦假資料組成
                    let forIMax = Math.floor(Math.random() * that.message.users.length - 1)// -1避掉沒資料
                    forIMax++
                    for (let i = 0; i < forIMax ; i++) {
                        const tmpeIUserKey = Math.floor(Math.random() * that.message.users.length)
                        const tmpeIMsgKey = Math.floor(Math.random() * that.message.msg.length)
                        that.hourAgo = that.hourAgo + Math.floor(Math.random() * 6)
                        let tempIData = {
                            name: that.message.users[tmpeIUserKey].name,
                            img: that.message.users[tmpeIUserKey].img,
                            hourAgo: that.hourAgo,
                            msg: that.message.msg[tmpeIMsgKey],
                            list: []
                        }
                        const forJMax = Math.floor(Math.random() * 3)
                        for (let j = 0; j < forJMax ; j++) {
                            const tmpeJUserKey = Math.floor(Math.random() * that.message.users.length)
                            const tmpeJMsgKey = Math.floor(Math.random() * that.message.msg.length)
                            that.hourAgo = that.hourAgo + Math.floor(Math.random() * 6)
                            let tempJData = {
                                name: that.message.users[tmpeJUserKey].name,
                                img: that.message.users[tmpeJUserKey].img,
                                hourAgo: that.hourAgo,
                                msg: that.message.msg[tmpeJMsgKey],
                            }
                            tempIData.list.push(tempJData)
                        }
                        that.messageList.push(tempIData)
                    }
                },
                // 事件 - 去網頁
                eventGoWap () {
                    console.log('eventGoWap')
                    var that = this
                    console.log('wapUrl', that.wapUrl)
                    // location.href = that.wapUrl
                },
                // 事件 - 下載
                eventDownload () {
                    console.log('eventDownload')
                    var that = this
                    location.href = that.downloadUrl
                },
                // 圖片處理-1
                imgError (e) {
                    // console.log('imgError')
                    this.$emit('error',false)
                },
                // 圖片處理-2
                imgLoad (e) {
                    // console.log('imgLoad')
                    this.$emit('load',false)
                },
                // 圖片處理-3
                imgLoader () {
                    // console.log('imgLoader')
                    var that = this
                    // 檢查是否有資源域名
                    if ( this.domain.indexOf('http') > -1 && this.src.length > 0 ) {
                        // console.log('imgLoader - 1')
                        // console.log('this.entrol', this.entrol)
                        if (true || this.entrol > 0) {// 是否加密域名
                            // console.log('imgLoader - 2')
                            // 使用base64圖檔 , 將副檔名更換為 html
                            let url = this.src.toLowerCase().replace('.jpeg','.html').replace('.jpg','.html').replace('.png','.html').replace('.gif','.html')
                            // console.log("img getNew: " + this.entrol + " " + this.domain + url)
                            let xhr = this.native
                            // xhr.open("GET",url.indexOf('http')>-1? url : this.domain + url, true)
                            xhr.open("GET", this.domain + url, true)
                            xhr.onload = () => {
                                if (xhr.readyState == 4) {
                                    console.log('imgLoader - 3')
                                    if (xhr.status == 200) {
                                        console.log('imgLoader - 4')
                                        // 還原 base64 資料
                                        let b64 = xhr.responseText.replace(/\+/g,'*')
                                        b64 = b64.replace(/\//g,'+')
                                        b64 =  b64.replace(/\*/g,'\/')
                                        // console.log('b64', b64)
                                        this.base64Image = b64
                                    } else {
                                        console.log('imgLoader - 5')
                                        // 重試 3 次
                                        if (this.retryed < 3) {
                                            console.log('imgLoader - 6')
                                            // 每次延遲增加 500ms 再發起請求
                                            this.retryed++
                                            setTimeout(this.imgLoader(), this.retryed * 500)
                                        }
                                    } 
                                }
                            }
                            xhr.send()
                        } else {
                            console.log('imgLoader - 7')
                            // console.log("img getOld: " + this.entrol + " " + this.domain + this.src)
                            // 使用一般圖檔
                            // this.base64Image = this.src.indexOf('http')>-1? this.src : this.domain + this.src
                            this.base64Image = this.domain + this.src
                            return
                        }                            
                    }

                }
            }
        })
    }
    </script>
</html>
